<!DOCTYPE html>
<html>
	<head>
		<title>Gate</title>
	</head>
	<body>
		<script type="text/javascript">
			var origin = location.protocol.replace("http", "ws") + "//" + location.host;
			var ws_url = origin + "/ZeroNet-Internal/Websocket?wrapper_nonce={wrapper_nonce}";
			var ws = new WebSocket(ws_url);
			ws.onopen = function() {
				window.parent.postMessage({cmd: "wrapperGateOpenWebsocket"}, "*");
			};
			ws.onclose = function() {
				window.parent.postMessage({cmd: "wrapperGateCloseWebsocket"}, "*");
			};
			ws.onmessage = function(e) {
				window.parent.postMessage(JSON.parse(e.data), "*");
			};
			window.onmessage = function(e) {
				// Don't replace with (e.data.id < 1000000), this breaks id =
				// NaN case which is (unfortunately) used by many ites
				if(e.data && !(e.data.id >= 1000000)) {
					ws.send(JSON.stringify(e.data));
				}
			};
		</script>
	</body>
</html>